.login-form {
    width: 396px;
}
.register-form {
    width: 432px;
}
.modal {
    transition: opacity 0.25s ease;
}
.modal-active {
    background-color:rgba(0, 0, 0, 0.5);
}
.ui-widget-overlay.modal-opened{
    background: rgb(0, 0, 0);
    opacity: 0.5;
    filter: Alpha(Opacity=50);
  }

  /* Nav */


  /* Dropdown  */

/* PostEdit */
.edit-delete-img{
    padding:6px
}
.edit_add_post_img{
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}